.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  margin: 0;
  font-family: "Commissioner", sans-serif;
  font-size: 15px;
  background-color: hsl(180, 20%, 96%);
}

/* -----------------------Start Header----------------------- */
header {
  background-image: url("images/image-hero-desktop.jpg");
  background-size: cover;
  height: 350px;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 10px;
}

.header-logo {
  width: 50%;
  margin: 5% 10%;
}
.header-links {
  width: 50%;
  margin: 5% 10%;
}
.header-links ul {
  display: flex;
  justify-content: flex-end;
  flex-flow: row wrap;

  margin: 0;
  list-style: none;
  color: white;
}
.header-links li {
  display: inline-block;
  margin: 0 10px;
}
.header-links li a {
  text-decoration: none;
  color: white;
}

/* -----------------------End Header----------------------- */

/* -----------------------Start Body----------------------- */
.container {
  width: 50%;
}

.first-card,
.second-card,
.third-card {
  background-color: white;
  padding: 5%;
  margin: 20px 0;
  border: unset;
}

.first-card {
  text-align: center;
}
.first-card .card-header {
  font-size: x-large;
  font-weight: bolder;
  margin-bottom: 0;
  background-color: unset;
  border-bottom: unset;
}

.title {
  font-weight: bolder;
}

.number {
  font-size: x-large;
  font-weight: 700;
  color: black;
}
.text {
  color: rgb(167, 167, 167);
}

.first-card .text {
  margin-bottom: -1rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  flex-flow: row wrap;

}
button {
  background-color: hsl(176, 50%, 47%);
  color: white;
  font-weight: bold;
  padding: 0px 6%;
  border: none;
  border-radius: 100px;
}

button:hover {
  background-color: hsl(176, 72%, 28%);
}

/* -----------------------Slider----------------------- */

#button-background {
  position: relative;
  background-color: rgba(213, 213, 213, 0.3);
  width: 200px;
  height: 40px;
  border: white;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#slider {
  transition: width 0.3s, border-radius 1s, height 0.3s;
  position: absolute;
  left: -10px;
  background-color: #6d6d6d;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#slider.bookmarked {
  transition: all 0.3s;
  background-color: hsl(176, 72%, 28%);
  position: absolute;
  left: -10px;
    width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.material-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.slide-text {
  font-size: 16px;
}
.slide-text.bookmarked {
  font-size: 16px;
  color:red
}

.bottom {
  position: fixed;
  bottom: 0;
  font-size: 14px;
  color: white;
}
.bottom a {
  color: white;
}
/* -----------------------End Slider----------------------- */

.second-card .data {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.second-card .data div {
  padding-right: 10%;
}

.second-card .data div:nth-child(1) {
  border-right: solid 1px gray;
}
.second-card .data div:nth-child(2) {
  border-right: solid 1px gray;
}

.progress {
  height: 10px;
}
.progress-bar {
  width: calc(89914 / 100000 * 100%);
  background-color: hsl(176, 50%, 47%);
}

.card {
  padding: 5%;
  margin: 10px;
}
.child-card-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row wrap;
}

.child-card-header p:nth-child(2) {
  color: hsl(176, 50%, 47%);
}

.child-card-header .text {
  align-items: center;
  display: inherit;
}

.child-card-header .text .number {
  margin-right: 5px;
}

.modal-content {
  padding: 5%;
  display: block;
  align-items: center;
}

.form-control{
  width: 80px;
  border-radius: 40px ;
  
}

.pledge-group{
  border-top: 1px solid lightgray;
  display: flex;

  padding-top: 20px;
}

.pledge-group div{
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  flex-grow: 1;
}
.pledge-group div input{
  margin-right: 5px;
}

.hidden{
  visibility: hidden;

}
.visible{
  visibility: visible;

}


.form-check-input:checked {
    background-color: hsl(176, 50%, 47%);
    border-color: hsl(176, 50%, 47%);

}

.radio-checked{
  border: hsl(176, 50%, 47%) 4px solid;
  border-radius:10px;
}






/* -----------------------End Body----------------------- */
